<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Device Class Unleash Demo</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<h1>Greetings <span sec:authentication="name"></span> !</h1>

<div th:if="${specialGreeting}">
    <h2>We're really glad to have you here.</h2>
</div>

<p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</body>
</html>